<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.deadlock.mapper.UserMapper">

    <select id="getUser" resultType="com.example.deadlock.model.User">
        select id,username
        from t_user
        limit 1
    </select>

    <select id="getDeadLock" resultType="java.util.Map">
        SHOW ENGINE INNODB STATUS
    </select>

    <update id="update1">
        update t_user set username = #{username} where id = 1
    </update>

    <update id="update3">
        update t_user set username = #{username} where id = 3
    </update>

</mapper>
