<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.fullprojectintegration.mapper.UserMapper">

    <select id="getUser" resultType="com.example.fullprojectintegration.model.User">
        select USE_ID userId,USE_NAME userName
        from USER_MEM
        limit 1
    </select>

</mapper>
